<ion-view hide-nav-bar="true">
<ion-content class="logIn">
  <form ng-submit="vm.handleRegBtnClick()" class="formLogIn" >
    <div class="list">
      <div ng-repeat="error in vm.errors.full_messages" class="errors" ng-if="vm.errors">
            {{error}}
            <i class="icon ion-close" style="float:right;" ng-click="vm.rmError(error)"></i>
      </div>

      <ion-md-input class="mdInput"  placeholder="Username" highlight-color="positive" type="text" ng-model="vm.registrationForm.name" ng-required="vm.registrationForm.name"></ion-md-input>
        <ion-md-input class="mdInput"  placeholder="Email" highlight-color="balanced" type="email" ng-model="vm.registrationForm.email" ng-required="vm.registrationForm.email"></ion-md-input>
        <ion-md-input class="mdInput" placeholder="Password" highlight-color="energized" type="password" ng-model="vm.registrationForm.password" ng-required="vm.registrationForm.password"></ion-md-input>
      <ion-md-input class="mdInput" placeholder="Password Confirmation" highlight-color="energized" type="password" ng-model="vm.registrationForm.password_confirmation" ng-required="vm.registrationForm.password_confirmation"></ion-md-input>
      <div >
        <button class="button-block butLogIn" type="submit">Sign Up</button>
      </div>
    </div>
  </form>
  <a href="#" class="footerForget">Forget Password?</a>
<div class="footerLogInRight"><a href="#/app/login" class="footerSignUp">Sign In</a></div>
</ion-content>

</ion-view>