<ion-view view-title="Конфиденциальность">
  <ion-content>
    <div class="list">
      <ion-item class="dreamItem">
      <ion-checkbox class="checkbox-balanced settingsCheckBox" ng-model="vm.settings.attributes.friendsRating" ng-click="vm.updateSettings()"></ion-checkbox>
       Только друзья могут оценивать мои цели
      </ion-item>
      <ion-item class="dreamItem">
       Только друзья могут просматривать мой профиль
       <ion-checkbox class="checkbox-balanced settingsCheckBox" ng-model="vm.settings.attributes.friendsViewProfile" ng-click="vm.updateSettings()"></ion-checkbox>
      </ion-item>
      </div>
  </ion-content>
</ion-view>
