<ion-view view-title="Конфиденциальность">
  <ion-content>
    <div class="list">
      <ion-item class="item item-toggle">
       Только друзья могут оценивать мои цели
          <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="vm.settings.attributes.friendsRating" ng-click="vm.updateSettings()">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </ion-item>
      <ion-item class="item item-toggle">
        Невидимка
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="vm.settings.attributes.friendsViewProfile" ng-click="vm.updateSettings()">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
      </div>
  </ion-content>
</ion-view>
