<ion-view view-title="Конфиденциальность">
  <ion-content>
    <div class="list">
      <ion-item class="dreamItem">
      <ion-checkbox class="checkbox-balanced settingsCheckBox" ng-model="settings.settings.attributes.friendsRating" ng-click="settings.friendRating()"></ion-checkbox>
       Только друзья могут оценивать мои цели
      </ion-item>
      <ion-item class="dreamItem">
       Только друзья могут просматривать мой профиль
       <ion-checkbox class="checkbox-balanced settingsCheckBox" ng-model="settings.settings.attributes.friendsViewProfile" ng-click="settings.friendViewProfile()"></ion-checkbox>
      </ion-item>
      </div>
  </ion-content>
</ion-view>
