<ion-view hide-nav-bar="true">
  <ion-content class="logIn">
    <form ng-submit="login.doLogin()" class="formLogIn">
      <div class="list">
          <ion-md-input class="mdInput"  placeholder="Email" highlight-color="balanced" type="email" ng-model="login.loginForm.email" ng-required="loginForm.email"></ion-md-input>
          <ion-md-input class="mdInput" placeholder="Password" highlight-color="energized" type="password" ng-model="login.loginForm.password" ng-required="loginForm.password"></ion-md-input>
      </div>
      <div class="padding">
          <button class="button-block butLogIn" type="submit">Login</button>
      </div>
    </form>
    <div class="button-bar social-login social" >
      <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
      <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
    </div>
  </ion-content>
  <a href="#" class="footerForget">Forget Password?</a>
  <div class="footerLogInRight">No Account? 
    <a href="#/app/registration" class="footerSignUp">Sign Up</a>
  </div>
</ion-view>