<ion-view view-title="Friends">
  <ion-content>
    <div class="list" ng-repeat="friend in friends.user.included">
      <a ng-href="#/app/profile/{{friend.id}}" class="item item-avatar item-icon-right" ng-if="friend.type == 'users'">
          <img src="img/default-user.png">
          <button class="button button-calm followBut" ng-click="$event.preventDefault(); $event.stopPropagation(); friends.follow(friend)">Follow</button>
          <h2>{{friend.attributes.name}}</h2>
          <p>{{friend.attributes.email}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
