.platform-android ion-content{
  overflow-y: hidden;
}
.platform-android ion-popover-view{
  top:3.8em !important;
}
.list{
  margin-bottom: 0 !important;
}
ion-popover-view{
  height:13em !important;
}
i.icon::before {
  font-size: 20px;
}

.searchInput{
  float:left;
  width: 80%;
  background-color:transparent;
  position: relative;
  left:2em;
  border-bottom: 1px solid #ccc !important;
  top:0.35em;
  z-index: 9999;
  &:focus{
    border-bottom: 1px solid #fff !important;
    color:#fff;
  }
}
.rating{
  position: absolute;
  float:right;
  right:2em;
}
.dreamList{
  margin:0;
}
.dreamItem{
  position:relative;
  margin: 0 auto;
  border-bottom:1px solid #c2c2c2 !important;
}
