.sideList{
  padding-top:40px;
  background-color: #3A4852 !important; 
}
.sideItem{
  background-color: transparent;
  border: none;
  color:white !important;
  a{
    background-color: transparent !important;
    border: none;
  }
  .activated {
    background-color: transparent !important;
    border: none;
  }
} 

