<ion-view view-title="Dream Maker">
  <ion-content >
    <ion-refresher on-refresh ="dreamlist.refresh()" spinner="bubbles">
    </ion-refresher>
    <ion-list class="dreamList">
      <ion-item ng-show="currentUser.id == dream.relationships.user.data.id" ng-repeat="dream in dreamlist.dreams" href="#/app/dreams/{{dream.id}}" class="dreamItem">
        {{dream.attributes.title}}
        <ion-option-button class="deleteBut icon ion-close" ng-click="dreamlist.deleteDream(dream)">
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

<a class="addBut button button-fab button-fab-bottom-right button-assertive icon ion-android-add waves-effect waves-button waves-light " href="#/app/new"></a>

</ion-view>
