<ion-view>
  <ion-nav-bar class="button-balanced-900">
    <ion-nav-back-button>
    </ion-nav-back-button>
      <input type="text" placeholder="Search..." class="searchInput" ng-model="dreamlist.query">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-ios-search" ng-click="">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content >
    <ion-refresher on-refresh ="dreamlist.refresh()" spinner="bubbles">
    </ion-refresher>

  <div class="list dreamList" ng-repeat="dream in dreamlist.dreams | filter: dreamlist.query | orderBy:'attributes.rate':true">
      <a class="item dreamItem"  href="#/app/dreams/{{dream.id}}"> {{dream.attributes.title}}<i class="icon ion-star rating">{{dream.attributes.rate > 0 ? dream.attributes.rate : 0}}</i>
      </a>
  </div>
  </ion-content>
</ion-view>
