<ion-view hide-back-button="true" >
  <ion-nav-bar class="button-balanced-900">
    <input type="text" placeholder="Поиск..." class="searchInput" ng-model="vm.query">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-ios-search" ng-click="">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-tabs class="tabs-striped">
    <ion-tab title="Цели">
      <ion-content class="tabsContent">
        <ion-refresher on-refresh ="vm.refresh()" spinner="bubbles">
        </ion-refresher>
        <div class="list dreamList" ng-repeat="dream in vm.dreams 
        | filter: vm.query 
        | orderBy:'attributes.rate':true">
          <a class="item dreamItem"  href="#/app/dreams/{{dream.id}}"> 
          {{dream.attributes.title}}
            <i class="icon ion-star rating">
            {{dream.attributes.rate > 0 ? dream.attributes.rate : 0}}
            </i>
          </a>
        </div>
      </ion-content>
    </ion-tab>
    <ion-tab title="Люди">
      <ion-content class="tabsContent">
         <div class="list" ng-repeat="user in vm.users | filter: vm.query ">
          <a ng-href="#/app/profile/{{user.id}}" class="item item-avatar item-icon-right" >
              <img src="img/default-user.png">
              <h2>{{user.attributes.name}}</h2>
              <p>{{user.attributes.email}}</p>
          </a>
        </div>
      </ion-content>
    </ion-tab>
  </ion-tabs>

</ion-view>
