<ion-view view-title="{{dreamshow.dream.attributes.title}}">
  <ion-nav-buttons side="right" >
    <a ng-show="currentUser.id == dreamshow.dream.relationships.user.data.id" class="button button-icon button-clear editBut" href="#/app/dreams/{{dreamshow.dream.id}}/edit">
   Edit   
    </a>
  </ion-nav-buttons>
  <ion-content >
    <ion-list >
       <ion-item class="progressBar">
        <span class="numbers counter" count-to="{{dreamshow.getProgress()}}" value="{{progressBarVar}}" duration="0.5">
          {{progressBarVar }}
        </span><span class="numbers">/100</span>
        <div  round-progress max="100" current="dreamshow.getProgress()" color="#00bfa5"
              bgcolor="#eaeaea" radius="80" stroke="7" rounded="false"
              clockwise="true" responsive="false" duration="800"
              animation="easeOutCubic" animation-delay="0" offset="0">
        </div>
        <div ng-if="dreamshow.settings['0'].attributes.friendsRating"><i ng-if="dreamshow.friend" class="icon ion-star star" ng-class="{activeStar : dreamshow.star.attributes.status}" ng-click="dreamshow.star ? dreamshow.rateUp() : dreamshow.newRateUp()">{{dreamshow.dream.attributes.rate}}</i></div>
      </ion-item>
        <ion-item ng-repeat="step in dreamshow.steps" class="dreamItem">
        
          <ion-checkbox ng-show="currentUser.id == dreamshow.dream.relationships.user.data.id" ng-model="step.attributes.finished" ng-click="dreamshow.updateStepStatus(step)" class="checkbox-balanced checkboxDream" >Сделано</ion-checkbox>
          Шаг {{$index+1}}</br>
          Название: {{step.attributes.title}}</br>
          Дата окончания: {{step.attributes.date}}</br>
          Описание: {{step.attributes.description}}
          <ion-option-button ng-show="currentUser.id == dreamshow.dream.relationships.user.data.id" class="deleteBut button-assertive" ng-click="dreamshow.deleteStep(step)">
            <i class="icon ion-trash-a "></i>
          </ion-option-button>
        </ion-item>
        <h3 class="lastDate">Окончание срока: {{dreamshow.dream.attributes.lastDate}}</h3>
    </ion-list>
  </ion-content>
</ion-view>
