<ion-view>
  <ion-nav-bar class="bar-royal">
  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    <!-- <ion-nav-back-button side="left" class="button-clear" style="display: block;">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button> -->
  </ion-nav-bar>
  <form  role="form" ng-submit="createDream()">
    <ion-content>
      <div class="list createList">
        <label class="item item-input">
          <input type="text" placeholder="Название.." ng-model="dream.title">
        </label>
        <ion-list>
          <ion-item ng-repeat="step in steps" class="fade">
          Шаг {{$index+1}}
            <label class="item item-input ">
              <input type="text" placeholder="Название шага" ng-model="steps.title">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Краткое описание.." ng-model="steps.description"></input>
            </label>
            <label class="item item-input">
              <span class="input-label">Дата окончания</span>
              <input type="date" ng-model="steps.date" min="{{date}}">
            </label>
          </ion-item>
        </ion-list>
        <div class="addStep">
          <a class="button button-clear button-dark " ng-click="addStep()" >
            <i class="icon ion-ios-plus"></i> Добавить шаг
          </a>
        </div>
        <label class="item item-input">
          <span class="input-label">Дата окончания</span>
          <input type="date" ng-model="dream.last_date" min="{{date }}">
        </label>
      </div>
    </ion-content>
    <input class="tabs tabs-balanced createBut" type="submit" >
        Создать мечту
    </input>
    </form>
</ion-view>
