<ion-view view-title="Dream Maker">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="dream in dreams.data" href="#/app/dreams/{{dream.id}}">
        {{dream.attributes.title}}
        <ion-option-button class="deleteBut" ng-click="deleteDream(dream)">
        <i class="icon ion-close"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="tabs tabs-balanced ">
    <a class="button button-clear button-dark" href="#/dreams/new">
      <i class="icon ion-ios-plus"></i> Create a dream
    </a>
  </div>
</ion-view>
