<ion-view view-title="Edit">

  <form  role="form" ng-submit="updateDream()">
    <ion-content>
      <div class="list createList">
<ion-md-input class="mdInput"  placeholder="" highlight-color="balanced" type="text" ng-model="dream.data.attributes.title"></ion-md-input>


        <ion-list>
          <ion-item ng-repeat="step in dream.included" class="fade">
          Шаг {{$index+1}}
            <label class="item item-input ">
              <input type="text" placeholder="Название шага" ng-model="step.attributes.title">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Краткое описание.." ng-model="step.attributes.description"></input>
            </label>
            <label class="item item-input">
              <span class="input-label">Дата окончания</span>
              <input type="date" ng-model="step.attributes.date">
            </label>
          </ion-item>
        </ion-list>

        <label class="item item-input">
          <span class="input-label">Дата окончания</span>
          <input type="date" ng-model="last_date">
        </label>
      </div>
    </ion-content>
    <input class="tabs tabs-balanced createBut" type="submit" value="Изменить">
        
    </form>
</ion-view>
